<div class="container">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/services.css') }}" media="all">
  <header class="header">
    <h1 id="title" class="text-center">
    {%if users%}
    		{%if login==1%}
        			{%for user in users%}

        			
					<p>{{user[0]}} select required services as you wish below and confirm</p>
        			{%endfor%}</h1>
        			{%endif%}
        			{%endif%}
  </header>
  <form id="survey-form" method = "POST" action="/">


    <div class="form-group" >
      <p>
        What services and would you like to select?
        <span class="clue">(Check all that apply)</span>
      </p>
   
{%if parts%}
{%for part in parts%}
      <label>
      <input
          name="prefer"
          value={{part[0]}}
          type="checkbox"
          class="input-checkbox"
        />{{part[0]}} Service Price:{{part[1]}}</label>
      {%endfor%}
      {%endif%}
{%if prefer%}
{%for choice in prefer%}
<p>{{choice}}</p>
 {%endfor%}
      {%endif%}
    <div class="form-group">
      <button type="submit" id="confirm" name="Submit" value="Confirm" class="submit-button">
        CONFIRM
      </button>
<div class="form-group">
      <button type="submit" id="confirm" name="Submit" value="Return" class="submit-button">
        Return
      </button>
    </div>
  </form>
</div>

